html,
body {
  min-height: 100%;
  transition: all 0.5s ease;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f8f8;
}

::-webkit-scrollbar {
  width: 5px;
  padding-top: 5px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  background-clip: content-box; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
  margin: 2px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

header {
  display: inline-flex;
  height: 86px;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: start;
  border-bottom: 2px solid black;
  z-index: 10;
}

.titulo {
  font-family: 'Anton', sans-serif;
  font-size: 130%;
  color: white;
  background: black;
  border-bottom-right-radius: 12px;
  width: 30.5%;
  height: 90px;
  text-align: start;
  padding-inline-start: 6.5%;
  line-height: 180%;
}

.buscador {
  background: white;
  padding-left: 50px;
}

.formulario {
  display: flex;
  align-items: center;
}

.but_filtros {
  background-color: lightgray;
  font-size: 20px;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  animation-duration: 0.1s;
  animation-name: bounce;
  margin-right: 10px;
}

.but_buscar_nota {
  background-color: transparent;
  border: none;
  cursor: pointer;
  animation-duration: 0.1s;
  animation-name: bounce;
  font-size: 28px;
  padding-left: 10px;
  width: 48px;
  height: 48px;
}

.text_box_principal {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 35ch;
  height: 5.5vh;
  flex: 1;
  transition: all 0.5s ease;
}

.text_box_principal:focus {
  width: 60ch;
}

.but_filtros:active {
  transform: scale(0.95);
}

.but_buscar_nota:active {
  transform: scale(0.75);
}

.but_filtros:hover {
  background-color: #ddd;
}

.but_buscar_nota:hover {
  color: #333;
}

footer {
  position: absolute;
  bottom: 0;
  float: left;
  text-align: justify;
}