.nota_seleccionada {
  float: right;
  margin-top: 88px;
  padding-right: 1vh;
  margin-bottom: 1vh;
  border: 1px solid darkgray;
  background: #f8f8f8;
  max-width: 62.4%;
  max-height: 80vh;
  min-width: 62.4%;
  min-height: 80vh;
  border-radius: 12px;
  display: none;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f8f8;
}

.nota_seleccionada::-webkit-scrollbar {
  width: 5px;
}

.nota_seleccionada::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.nota_seleccionada::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 12px;
}

.nota_seleccionada::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cabecero_nota_seleccionada {
  display: inline-flex;
  height: 50%;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.titulo_nota_seleccionada {
  position: absolute;
  top: 10px;
  transform: translateY(-50%);
  margin-left: 50px;
  padding-top: 0.75%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.but_volver_al_listado,
.but_duplicar_nota,
.but_eliminar_nota,
.but_mas_opciones_nota,
.but_desplegar_listado_notas {
  position: relative;
  top: 10px;
  background: transparent;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  z-index: 1;
  width: 40px;
  height: 40px;
}

.but_volver_al_listado {
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.botones_nota_seleccionada {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.but_volver_al_listado:hover,
.but_duplicar_nota:hover,
.but_eliminar_nota:hover,
.but_mas_opciones_nota:hover,
.but_desplegar_listado_notas:hover {
  color: #333;
}

.but_volver_al_listado:active,
.but_duplicar_nota:active,
.but_eliminar_nota:active,
.but_mas_opciones_nota:active,
.but_desplegar_listado_notas:active {
  transform: scale(0.75);
}

.titulo_nota_seleccionada[contenteditable=true] {
  background: transparent;
  border: none;
}

.contenido_nota_seleccionada {
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 20px;
}