.listado_notas {
  float: right;
  margin-top: 88px;
  padding-right: 1vh;
  margin-bottom: 1vh;
  border: 1px solid darkgray;
  background: #f8f8f8;
  max-width: 62.4%;
  max-height: 80vh;
  min-width: 62.4%;
  min-height: 80vh;
  border-radius: 12px;
  display: block;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f8f8;
}

.listado_notas::-webkit-scrollbar {
  width: 5px;
}

.listado_notas::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.listado_notas::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 12px;
}

.listado_notas::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cabecero_listado_notas {
  display: inline-flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  position: relative;
}

.titulo_notas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 50px;
  padding-top: 1.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.but_add_notas {
  background-color: transparent;
  border: none;
  cursor: pointer;
  animation-duration: 0.1s;
  animation-name: bounce;
  position: absolute;
  right: 0;
  padding-top: 1.5%;
  z-index: 1;
}

.but_add_notas:active {
  transform: scale(0.95);
}

.listado_notas h2 {
  font-size: 250%;
  padding-left: 7%;
  padding-right: 10%;
}

.todas_las_notas {
  width: 100%;
  height: 100%;
  margin-top: 12vh;
}

.todas_las_notas a,
.but_duplicar_nota_lista,
.but_eliminar_nota_lista {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: black;
}

.todas_las_notas li:hover {
  background-color: #e4e6e8;
}

.todas_las_notas li {
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  border-radius: 12px;
}

input[type=color] {
  width: 23px;
  height: 25px;
  border-radius: 50px;
  border: transparent;
  background-color: transparent;
  margin-right: 5px;
}

.but_duplicar_nota_lista,
.but_eliminar_nota_lista {
  background: transparent;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2vh;
  transition: color 0.3s ease-in-out;
  float: right;
  margin-right: 3px;
  width: 35px;
  margin-top: 2.85px;
}

.but_duplicar_nota_lista:hover,
.but_eliminar_nota_lista:hover {
  color: #333;
}

.but_duplicar_nota_lista:active,
.but_eliminar_nota_lista:active {
  transform: scale(0.75);
}