html,
body {
  min-height: 100%;
  transition: all 0.5s ease;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f8f8;
}

header {
  display: flex;
}

::-webkit-scrollbar {
  width: 5px;
  padding-top: 5px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
  margin: 2px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  height: 86px;
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  border-bottom: 2px solid black;
  z-index: 10;
}

.titulo {
  font-family: 'Anton', sans-serif;
  font-size: 130%;
  color: white;
  background: black;
  border-bottom-right-radius: 12px;
  width: 30.5%;
  height: 90px;
  text-align: start;
  padding-inline-start: 6.5%;
  line-height: 180%;
}

.buscador {
  background: white;
  padding-left: 50px;
}

.formulario {
  display: flex;
  align-items: center;
}

.but_filtros {
  background-color: lightgray;
  font-size: large;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.but_buscar_nota {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px;
  padding-left: 10px;
  width: 48px;
  height: 48px;
}

.but_login {
  position: absolute;
  right: 25px;
  background-color: white;
  font-size: large;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid black;
  font-family: 'Anton', sans-serif;
  color: black;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  font-size: large;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text_box_principal {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 35ch;
  height: 5.5vh;
  flex: 1;
  transition: all 0.5s ease;
}

.but_login:hover {
  background-color: black;
  color: white;
}

.but_login:active {
  transform: scale(0.90);
}

.text_box_principal:focus {
  width: 50ch;
}

.but_filtros:active {
  transform: scale(0.90);
}

.but_buscar_nota:active {
  transform: scale(0.90);
}

.but_filtros:hover {
  background-color: #ddd;
}

.but_buscar_nota:hover {
  color: #333;
}

.but_dropdown_filtros {
  border: none;
  background: white;
  width: 100%;
  left: 0;
  cursor: pointer;
  justify-content: start;
  font-weight: bold;
  transition: all 0.3s ease;
}

.dropdown_content_filtros button:first-child {
  padding-bottom: 1vh;
  padding-top: 2vh;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.dropdown_content_filtros button:not(:first-child):not(:last-child) {
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
}

.dropdown_content_filtros button:last-child {
  padding-bottom: 2vh;
  padding-top: 1vh;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.dropdown_content_filtros {
  display: block;
  position: absolute;
  margin-top: 5px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.dropdown_filtros:hover .dropdown_content_filtros {
  display: block;
}

.but_dropdown_filtros:hover {
  background-color: black;
  color: white;
}

.but_dropdown_filtros:active {
  transform: scale(0.95);
}

footer {
  position: absolute;
  bottom: 0;
  float: left;
  text-align: justify;
}