.eventos_dia_seleccionado {
  float: right;
  margin-top: 88px;
  padding-right: 1vh;
  margin-bottom: 1vh;
  max-width: 62.4%;
  max-height: 80vh;
  min-width: 62.4%;
  min-height: 80vh;
  display: none;
  overflow-y: auto;
}

.evento {
  border: 1px solid darkgray;
  background: #f8f8f8;
  border: 1px solid darkgray;
  min-width: 95%;
  max-width: 100%;
  margin-left: 0px;
  border-radius: 12px;
  padding: 5px;
  padding-left: 15px;
  margin-bottom: 1vh;
}

.but_mostrar_notas {
  display: none;
  border: 1px solid darkgray;
  background-color: lightgray;
  border: none;
  width: 35.4vw;
  height: 3em;
  margin-left: 0px;
  border-radius: 10px;
  cursor: pointer;
  animation-duration: 0.1s;
  animation-name: bounce;
  font-size: large;  
  float: left;
  position: absolute;
  top: 84vh;
}

.but_mostrar_eventos {
  display: block;
  border: 1px solid darkgray;
  background-color: lightgray;
  border: none;
  width: 35.4vw;
  height: 3em;
  margin-left: 0px;
  border-radius: 10px;
  cursor: pointer;
  animation-duration: 0.1s;
  animation-name: bounce;
  font-size: large;  
  float: left;
  position: absolute;
  top: 84vh;
}

.but_mostrar_eventos:active,
.but_mostrar_notas:active {
  transform: scale(0.95);
}

.but_mostrar_eventos:hover,
.but_mostrar_notas:hover {
  background-color: #ddd;
}

.contenedor-eventos_dia_seleccionado::-webkit-scrollbar {
  width: 12px;
}

.eventos_dia_seleccionado::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.eventos_dia_seleccionado::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.eventos_dia_seleccionado::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
