/* Estilos para el calendario */
.calendario {
  float: left;
  margin-top: 12.5vh;
  margin-bottom: 1vh;
  border: 1px solid darkgray;
  min-width: 36%;
  min-height: 45vh;
  max-width: 36%;
  max-height: 45vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.cabecero_calendario {
  display: inline-flex;
  background: #f8f8f8;
  border-bottom: 1px solid darkgray;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  vertical-align: middle;
}

.but_atras_calendario,
.but_adelante_calendario {
  background: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  width: 35px;
}

.botonera_calendario {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.but_atras_calendario:hover,
.but_adelante_calendario:hover {
  color: #333;
}

.but_atras_calendario:active,
.but_adelante_calendario:active {
  transform: scale(0.75);
}

.but_calendario {
  background-color: transparent;
  border: none;
  cursor: pointer;
  animation-duration: 0.1s;
  animation-name: bounce;
  font-size: 240%;
  padding-right: 3%;
  margin-left: auto;
}

.but_calendario:active {
  transform: scale(0.75);
}

.but_calendario:hover {
  color: #333;
}

.logo_calendario {
  width: 7%;
  padding-left: 3%;
}

.calendario h2 {
  font-size: 140%;
  padding-left: 7%;
  padding-right: 10%;
}

.calendar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-radius: 12px;
}