.titulo {
  background: black;
  border-bottom-right-radius: 12px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-size: calc(1.3vw + 1rem);
}

.titulo_texto {
  font-family: "Anton", sans-serif;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.but_titulo {
  background-color: transparent;
  border: none;
  padding-left: 0.4em;
  width: 60px;
}

.botones_header {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.but_filtros {
  background-color: lightgray;
  font-size: calc(0.1vw + 1rem);
  width: auto;
  height: auto;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease;
  --bs-btn-color: black;
}

.text_box_principal {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 30ch;
  height: 5.75vh;
  transition: all 0.5s ease;
  background: white;
  margin-left: 10px;
  height: 2.65rem;
}

.but_buscar_nota {
  background-color: transparent;
  border: none;
  padding-left: 0.4em;
  width: 54px;
}

.but_dropdown_filtros {
  border: none;
  background: white;
  transition: all 0.3s ease;
}

.dropdown_content_filtros {
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.text_box_principal:focus {
  width: 35ch;
}

.but_dropdown_filtros:active,
.but_buscar_nota:active,
.but_titulo:active,
.but_filtros:active {
  transform: scale(0.9);
}

.but_filtros:hover {
  background-color: #ddd;
}

.but_dropdown_filtros:hover {
  background-color: black;
  color: white;
}

.dropdown-toggle::after {
  display: none;
}

@media screen and (max-width: 1200px) {
  .titulo {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .but_acerca_de {
    display: none;
  }
  .calendario {
    margin-right: 0px !important;
  }
}
