.calendario {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 8px;
  border: 1px solid darkgray;
  overflow-y: auto;
  height: 74vh;
  border-radius: 12px;
  width: auto;
}

.but_calendario {
  display: none;
}

.fc-header-toolbar {
  background: #f8f8f8;
  border-bottom: 1px solid darkgray;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fc-toolbar-title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fc-addEvento-button {
  background-image: url("../icon/calendar-plus.svg");
  background-size: cover;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}

.fc-botonPrev-button {
  background-image: url("../icon/circle-arrow-left.svg");
  background-size: cover;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}

.fc-botonNext-button {
  background-image: url("../icon/circle-arrow-right.svg");
  background-size: cover;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}

.fc-miLogo-button {
  background-image: url("../icon/calendar-day.svg");
  background-size: cover;
  border: none;
  cursor: pointer !important;
  height: 30px;
  width: 30px;
  margin-left: 2ch;
  margin-right: 2ch;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}

.fc-addEvento-button,
.fc-botonPrev-button,
.fc-botonNext-button {
  border: none;
  height: 30px;
  width: 30px;
  margin-left: 2ch;
  margin-right: 2ch;
}

.fc-botonPrev-button:active,
.fc-botonNext-button:active,
.fc-addEvento-button:active {
  transform: scale(0.75);
}

#calendar {
  width: 100%;
  height: 100%;
}

/* EVENTOS */
.eventos_dia_seleccionado {
  max-height: 55vh;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f8f8;
  overflow-y: auto;
  margin-top: 8px;
}

.evento {
  border: 1px solid darkgray;
  background: #f8f8f8;
  border: 1px solid darkgray;
  border-radius: 12px;
  padding: 5px;
  padding-left: 15px;
  margin-bottom: 1vh;
  overflow: hidden;
}

.cabecero_evento {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido_evento {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.contenido_evento p {
  margin-block-end: 0;
}

.botones_evento {
  display: flex;
}

.but_etiquetas_evento,
.but_expandir_evento,
.but_cerrar_evento,
.but_editar_evento,
.but_eliminar_evento {
  background: transparent;
  border: none;
  padding: 10px;
  margin-right: 3px;
  width: 35px;
  margin-top: 2.85px;
}

.but_cerrar_evento {
  display: none;
}

.but_expandir_evento {
  display: flex;
}

.expanded .contenido_evento {
  display: flex;
}

.expanded .but_cerrar_evento {
  display: flex;
}

.expanded .but_expandir_evento {
  display: none;
}

.but_etiquetas_evento:active,
.but_expandir_evento:active,
.but_cerrar_evento:active,
.but_editar_evento:active,
.but_eliminar_evento:active {
  transform: scale(0.75);
}

.myModal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}