body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f8f8;
  background: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  background: white;
  border-bottom: 2px solid black;
}

main {
  margin: 0 !important;
  padding: 0 !important;
}

div {
  margin: 0 !important;
}

section {
  padding: 0 !important;
}

article {
  height: auto !important;
}

.reglas {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.titulo {
  background: black;
  border-bottom-right-radius: 12px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-size: calc(1.3vw + 1rem);
}

.titulo_texto {
  font-family: "Anton", sans-serif;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.but_titulo {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 0.4em;
  width: 60px;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}

.botones_header {
  padding-top: 6px;
  padding-bottom: 6px;
}

.buscador {
  background: white;
  margin-left: 10px;
}

.but_filtros {
  background-color: lightgray;
  font-size: calc(0.1vw + 1rem);
  width: auto;
  height: auto;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  --bs-btn-color: black;
}

.but_login {
  margin-right: 1em;
  background-color: white;
  font-size: calc(0.25vw + 1rem);
  height: 3rem;
  width: auto;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Anton", sans-serif;
  color: black;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text_box_principal {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 25ch;
  height: 5.75vh;
  flex: 1;
  transition: all 0.5s ease;
}

.but_buscar_nota {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 0.4em;
  width: 54px;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}

.but_dropdown_filtros {
  border: none;
  background: white;
  transition: all 0.3s ease;
  z-index: 1;
}

.dropdown_content_filtros {
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.but_login:hover {
  background-color: black;
  color: white;
}

.but_login:active {
  transform: scale(0.9);
}

.but_titulo:active {
  transform: scale(0.9);
}

.text_box_principal:focus {
  width: 30ch;
}

.but_filtros:active {
  transform: scale(0.9);
}

.but_buscar_nota:active {
  transform: scale(0.9);
}

.but_filtros:hover {
  background-color: #ddd;
}

.but_buscar_nota:hover {
  color: #333;
}

.but_dropdown_filtros:hover {
  background-color: black;
  color: white;
}

.but_dropdown_filtros:active {
  transform: scale(0.95);
}

::-webkit-scrollbar {
  width: 5px;
  padding-top: 5px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
  margin: 2px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown-toggle::after {
  display: none;
}

@media screen and (max-width: 992px) {
  .titulo {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .but_login {
    display: none;
  }
  .buscador {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
