.listado_notas,
.nota_seleccionada {
  border: 1px solid darkgray;
  background: #f8f8f8;
  border-radius: 12px;
  min-height: 74vh;
  max-height: 74vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f8f8;
  margin-bottom: 8px;
}

.nota_seleccionada {
  display: none;
}

.cabecero_listado_notas {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 7px;
}

.titulo_notas {
  font-family: system-ui, sans-serif;
  transform: translateX(-50%);
  text-overflow: ellipsis;
}

.but_add_notas {
  background-color: transparent;
  border: none;
  margin-top: 5px;
  margin-right: 20px;
}

.listado_notas h2 {
  font-size: calc(2vw + 1rem);
  padding-left: 7%;
  padding-right: 10%;
}

.todas_las_notas a,
.but_duplicar_nota_lista,
.but_eliminar_nota_lista {
  text-decoration: none;
  padding: 10px;
  color: black;
  max-width: 45vw;
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow-x: hidden;
  
}

.todas_las_notas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: calc(0.2vw + 1rem);
  cursor: pointer;
  border-radius: 12px;
  width: calc(100% - 20px);
}

.but_duplicar_nota_lista,
.but_eliminar_nota_lista {
  background: transparent;
  border: none;
  float: right;
  margin-right: 3px;
  width: 35px;
}

.todas_las_notas input[type="color"] {
  pointer-events: none;
  padding: 5px;
  border: none;
  background: transparent;
  height: 26px;
  width: 27px;
}

/* Nota Seleccionada */
.cabecero_nota_seleccionada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.titulo_nota_seleccionada {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(0.65vw + 1rem);
  font-weight: bold;
  max-width: 40vw;
  overflow: hidden; /* Oculta el contenido que excede el ancho */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
}

.botones_nota_seleccionada {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nota_seleccionada input[type="color"] {
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  height: 30px;
  width: 31px;
  margin-bottom: 7px;
}

.but_editar_nota,
.but_volver_al_listado,
.but_duplicar_nota,
.but_eliminar_nota,
.but_etiquetas_nota,
.but_mas_opciones_nota {
  background: transparent;
  border: none;
  width: 30px;
}

.add_etiqueta,
.etiqueta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 0.5rem;
}

.add_etiqueta p,
.etiqueta p {
  cursor: default;
  margin-block: 0;
}

.but_nueva_etiqueta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botones_etiqueta {
  display: flex;
}

.dropdown_etiquetas_nota ul {
  padding: 0;
}

.but_nueva_etiqueta,
.but_editar_etiqueta,
.but_eliminar_etiqueta {
  background: transparent;
  border: none;
  width: 26px;
}

.contenido_nota_seleccionada {
  margin: 20px;
}

/* Animaciones */
.but_editar_nota:hover,
.but_nueva_etiqueta:hover,
.but_volver_al_listado:hover,
.but_duplicar_nota:hover,
.but_eliminar_nota:hover,
.but_etiquetas_nota:hover {
  color: #333;
}

.but_editar_nota:active,
.but_nueva_etiqueta:active,
.but_volver_al_listado:active,
.but_duplicar_nota:active,
.but_eliminar_nota:active,
.but_etiquetas_nota:active,
.but_editar_etiqueta:active,
.but_eliminar_etiqueta:active {
  transform: scale(0.75);
}

.but_add_notas:active {
  transform: scale(0.95);
}

.todas_las_notas li:hover {
  background-color: #e4e6e8;
}

.but_duplicar_nota_lista:hover,
.but_eliminar_nota_lista:hover {
  color: #333;
}

.but_duplicar_nota_lista:active,
.but_eliminar_nota_lista:active {
  transform: scale(0.75);
}
