.listado_notas,
.nota_seleccionada {
  border: 1px solid darkgray;
  background: #f8f8f8;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 12px;
  min-height: 74vh;
  max-height: 74vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f8f8;
}

.nota_seleccionada {
  display: none;
}

.cabecero_listado_notas {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}

.titulo_notas {
  font-family: system-ui, sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.but_add_notas {
  background-color: transparent;
  border: none;
  cursor: pointer;
  animation-duration: 0.1s;
  animation-name: bounce;
  z-index: 1;
  margin-top: 5px;
}

.listado_notas h2 {
  font-size: calc(2vw + 1rem);
  padding-left: 7%;
  padding-right: 10%;
}

.todas_las_notas {
  width: 100%;
  height: 100%;
}

.todas_las_notas a,
.but_duplicar_nota_lista,
.but_eliminar_nota_lista {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: black;
}

.todas_las_notas ol {
  margin: 0;
  padding: 0;
}

.todas_las_notas li {
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: calc(0.2vw + 1rem);
  cursor: pointer;
  border-radius: 12px;
  width: calc(100% - 20px);
  margin: 0 10px;
  padding-left: 10px;
}

.todas_las_notas li input[type=color] {
  width: calc(0.40vw + 1rem);
  height: calc(0.35vw + 1rem);
  border: transparent;
  background-color: transparent;
}

.but_duplicar_nota_lista,
.but_eliminar_nota_lista {
  background: transparent;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2vh;
  transition: color 0.3s ease-in-out;
  float: right;
  margin-right: 3px;
  width: 35px;
  margin-top: 2.85px;
}

/* Nota Seleccionada */
.titulo_nota_seleccionada {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(0.65vw + 1rem);
  word-wrap: break-word;
}

.titulo_input_container input[type="color"] {
  margin-right: 15px;
  width: calc(0.65vw + 1rem);
  height: calc(0.55vw + 1rem);
  cursor: pointer;
}

.but_duplicar_nota,
.but_eliminar_nota,
.but_desplegar_listado_notas {
  background: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  width: 30px;
}

.but_volver_al_listado,
.but_mas_opciones_nota {
  background: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  width: 40px;
}

.titulo_nota_seleccionada[contenteditable="true"] {
  background: transparent;
  border: none;
}

.contenido_nota_seleccionada {
  left: 20px;
  margin: 20px;
  max-width: 100%;
  word-wrap: break-word;
}

/* Animaciones */

.but_volver_al_listado:hover,
.but_duplicar_nota:hover,
.but_eliminar_nota:hover,
.but_mas_opciones_nota:hover,
.but_desplegar_listado_notas:hover {
  color: #333;
}

.but_volver_al_listado:active,
.but_duplicar_nota:active,
.but_eliminar_nota:active,
.but_mas_opciones_nota:active,
.but_desplegar_listado_notas:active {
  transform: scale(0.75);
}

.but_add_notas:active {
  transform: scale(0.95);
}

.todas_las_notas li:hover {
  background-color: #e4e6e8;
}

.but_duplicar_nota_lista:hover,
.but_eliminar_nota_lista:hover {
  color: #333;
}

.but_duplicar_nota_lista:active,
.but_eliminar_nota_lista:active {
  transform: scale(0.75);
}