.nota_seleccionada {
  border: 1px solid darkgray;
  background: #f8f8f8;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 12px;
  min-height: 72.5vh;
  max-height: 72.5vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f8f8f8;
  display: none;
}

.cabecero_nota_seleccionada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.titulo_nota_seleccionada {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.titulo_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.titulo_input_container input[type="color"] {
  margin-right: 15px;
  height: 1.85rem;
  width: 1.7rem;
  cursor: pointer;
}

.but_volver_al_listado,
.but_duplicar_nota,
.but_eliminar_nota,
.but_mas_opciones_nota,
.but_desplegar_listado_notas {
  background: transparent;
  color: #000;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  width: 40px;
  height: 40px;
}

.but_volver_al_listado {
  margin-left: 10px;
}

.botones_nota_seleccionada {
  display: flex;
  margin-right: 10px;
}

.but_volver_al_listado:hover,
.but_duplicar_nota:hover,
.but_eliminar_nota:hover,
.but_mas_opciones_nota:hover,
.but_desplegar_listado_notas:hover {
  color: #333;
}

.but_volver_al_listado:active,
.but_duplicar_nota:active,
.but_eliminar_nota:active,
.but_mas_opciones_nota:active,
.but_desplegar_listado_notas:active {
  transform: scale(0.75);
}

.titulo_nota_seleccionada[contenteditable="true"] {
  background: transparent;
  border: none;
}

.contenido_nota_seleccionada {
  left: 20px;
  margin: 20px;
  max-width: 100%;
  word-wrap: break-word;
}

.but_dropdown_mas_opciones_notas {
  border: none;
  background: white;
  width: 100%;
  left: 0;
  cursor: pointer;
  justify-content: start;
  font-weight: bold;
  transition: all 0.3s ease;
}

.dropdown-content button:first-child {
  padding-bottom: 1vh;
  padding-top: 2vh;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.dropdown-content button:last-child {
  padding-bottom: 2vh;
  padding-top: 1vh;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px;
}

.dropdown_mas_opciones_nota:hover .dropdown-content {
  display: block;
}

.but_dropdown_mas_opciones_notas:hover {
  background-color: black;
  color: white;
}

.but_dropdown_mas_opciones_notas:active {
  transform: scale(0.95);
}

.nota_seleccionada::-webkit-scrollbar {
  width: 5px;
}

.nota_seleccionada::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.nota_seleccionada::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.nota_seleccionada::-webkit-scrollbar-thumb:hover {
  background: #555;
}
